.weather{
  width: 400px;
  height: 475px;
  margin-left: 230px;
  float:left;
}

.weather .top-section{
  margin: 4px 8px 4px 8px;
  width: 100%;
  height: 125px;
}

.weather .top-section span{
  margin-top: 1px;
  margin-bottom: 1px;
  color: lightgray;
  float: left;
  font-size: 14px;
  width: 200px;
}

.weather .top-section h3{
  color: white;
  float: left;
  font-size: 16px;
  width: 230px;
  margin-top: 4px;
}

.weather .top-section img{
  margin-top: -15px;
  margin-left: -25px;
  width: 92px;
  height: 92px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  float: left;
}

.weather .top-section h1{
  color: white;
  float:left;
  margin-left: 5px;
  margin-top: -5px;
  font-size: 46px;
}

.top-details{
  width: 130px;
  height: 65px;
  float: left;
  margin-top: -45px;
}

.top-details span{
  height: 20px;
  color: white;
}

hr { 
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    float: left;
    width: 95%;
}

.weather .middle-section {
  width: 100%;
  height: 150px;
  margin-top: -15px;
}

.middle-section ul{
  margin-top: 5px;
  list-style-type: none;
  margin-left: -15px;
  margin-bottom: 10px;
}

.middle-section li{
  width: 20px;
  margin: 0;
  float: left;
  display: block;
  padding-right: 40px;
  font-size: 16px;
  color: white;
  text-align: center;
}

.middle-section img{
  margin: 6px -6px;
  width: 36px;
  height: 36px;
 -webkit-filter: invert(100%);
  filter: invert(100%);
}

.weather .bottom-section{
  width: 100%;
  height: 200px;
  margin-top:-20px;
}

.bottom-section ul{
  list-style-type: none;
  padding: 3px;
}

.bottom-section li{
  margin: 18px 10px;
  height: 20px;
}

.bottom-section span{
  width: 48px;
  height: 100%;
  color: white;
  float: left;
  font-size: 14px;
}

.bottom-section img{
  width: 36px;
  height: 36px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  float: left;
  margin-left: 105px;
  margin-top: -10px;
}

.bottom-section p{
  color: white;
  float: left;
  width: 35px;
  height: 100%;
  margin-left: 100px;
  margin-top: 0px;
}
