<div class="weather">
  <div class="top-section" *ngIf="currentWeather">
    <span>{{currentWeather.time * 1000 | date: 'shortTime'}}</span>
    <h3 *ngIf="location">{{location.city}}</h3>
    <img src="app/weather/icons/{{currentWeather.icon}}.svg" alt="">
    <h1>{{currentWeather.temperature | number:'1.0-0'}}&#176;</h1>
    <div class="top-details">
      <span>Humidity: {{currentWeather.humidity | percent}}</span>
      <span>Percipitation: {{currentWeather.precipProbability | percent }}</span>
      <span>Windspeed: {{currentWeather.windSpeed}} meter/s</span>
    </div>
    <hr> 
  </div>
  <div class="middle-section" *ngIf="hourlyWeather">
    <ul >
      <li *ngFor="let hourly of hourlyWeather.data | slice:2:8">
        <span>{{hourly.time * 1000 | date:'shortTime'}}</span>
        <img src="app/weather/icons/{{hourly.icon}}.svg" alt="">
        <span>{{hourly.apparentTemperature | number:'1.0-0'}}</span>
      </li>
      
    </ul>
    <hr>
  </div>
  <div class="bottom-section" *ngIf="dailyWeather">
    <ul>
      <li *ngFor="let daily of dailyWeather.data | slice:0:5">
        <span>{{daily.time * 1000 | date:"EEEE"}}</span>
        <img src="app/weather/icons/{{daily.icon}}.svg" alt="">
        <p>{{daily.apparentTemperatureMax | number:'1.0-0'}}</p>
        <span>{{daily.apparentTemperatureMin | number:'1.0-0'}}</span>
      </li>
    </ul>
  </div>
</div>
