/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 General CSS
*/

#container {
    width: 100%;
    min-height: 768px;
}
#container .column{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.separator {
    width: 50px;
    height: 1px;
    display: block;
}


.button-sm-dark {
    width: 120px;
    height: 40px;
    color: #00e0d0;
    font-size: 12px;
    background: none;
    border-radius: 2px;
    border: 1px solid #00e0d0;
}
/*
  End of General CSS
 */

#container .tj-section {
    width: 100%;
    display: block;
    height: 670px;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/header/header-img.png');
    background-size: cover;
}

#container .tj-section .column .header {
    float: left;
    width: 100%;
    height: 80px;
}

#container .header .column-left-sm {
    float: left;
    width: 130px;
    height: 100%;
}

#container .header .column-right-lg { 
    float: left;
    width: 830px;
    height: 100%;
}

.column-left-sm .logo {
    width: 128px;
    height: 50px;
    margin: 15px 0 0 0;
    display: block;
}

.column-right-lg .menubar {
    float: left;
    width: 100%;
    height: 100%;
}

.column-right-lg .menubar > ul {
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: right;
    padding: 30px 0 0 0;
}

.column-right-lg .menubar > ul > li {
    display: inline;
    margin: 0 20px 0 0;
}

.column-right-lg .menubar > ul > li > a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.column-right-lg .menubar > ul > li > a:hover, 
.column-right-lg .menubar > ul > li > a.active {
    color: #00e0d0;
}

#container .row {
    float: left;
    width: 100%;
    height: auto;
}

#container .row .tj-section-top-text {
    float: left;
    width: 100%;
    padding: 110px 0;
    text-align: center;
}

#container .row .tj-section-top-text .separator{
    margin: 30px auto;
    border-top: 1px solid #00e0d0; 
} 

#container .row .tj-section-top-text h1 {
    color: #FFF;
}

#container .row .tj-section-top-text p {
    color: #FFF;
    margin: 0 0 55px 0;
}


.button-sm-dark:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.carousel-controller {
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.carousel-controller li {
    float: left;
    display: inline;
    margin: 0 4px;
}

.carousel-controller li a {
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    border: 1px solid #00e0d0;
}

.carousel-controller li a:hover,
.carousel-controller li a.active {
    background-color: #FFF;
    border: 1px solid #FFF;
}

.story-section {
    width: 100%;
    display: block;
    height: 405px;
    background: #FFF;
    border: 1px solid #000;
    background-size: cover;
}

.column .column-left-st {
    float: left;
    width: 390px;
    height: 100%;
}

.column-left-st .left-img {
    margin-left: 70px;
    margin-top: 70px;
}

.column-left-st .left-img img {
    width: 240px;
    height: 230px;
    margin: 15px 0 0 0;
    display: block;
}
.column .column-right-story {
    float: left;
    width: 570px;
    height: 100%;
}

.column .column-right-story .row{
  margin-top: 40px;
}

.watch-video-section {
    width: 100%;
    display: block;
    height: 405px;
    background: #FFF;
    border: 1px solid #000;
    background-size: cover;
}

#container .watch-video-section {
    width: 100%;
    display: block;
    height: 670px;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/video/background.png');
    background-size: cover;
}

#container .watch-video-section .column .row {
  width: auto;
  height: 160px; 
  margin-top: 200px;
}

#container .watch-video-section .column .row .video {
  margin-left: 425px;
}

#container .watch-video-section .column .row h3 {
  margin-left: 375px;
  color: #FFF;
}

.expertise {
    width: 100%;
    display: block;
    height: 750px;
    background: #FFF;
    border: 1px solid #000;
    background-size: cover;
}

.expertise .header {
  width: 100%;
  height: 160px;
}

.expertise .header .row {
  text-align: center;
  margin-top: 65px;
}

.expertise .header .row h2 {
  margin: 0 ;
}

.expertise .header .row p {
  margin: 0;
  color: grey;
}

#container .expertise .header .row .separator {
    margin: 30px auto;
    border-top: 1px solid grey; 
} 

.expertise .expertise-blocks .row {
  width: 100%;
  height: 280px;
}

.expertise .expertise-blocks .row .details {
  width: 280px;
  float: left;
  margin-left: 25px;
  margin-top: 50px;
}

#container .expertise .header .row .separator-line {
    margin: 100px auto;
    border-top: 1px solid grey; 
} 

.expertise .expertise-blocks .row img {
  max-height: 48px;
  max-width: 48px;
  height: auto; 
  width: 48px;
  margin: auto;
  display: block;
}

.expertise .expertise-blocks .row .details h5 {
  text-align: center;
}

.expertise .expertise-blocks .row .details p { 
  text-align: center;
}

#container .team {
    width: 100%;
    display: block;
    height: 710px;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/team/3rd-background.png');
    background-size: cover;
}

.team .column .header {
  color: #FFF;
  height: 145px;
  margin-top: 70px;
  text-align: center;
}

.team .column .header h2 {
  margin: 0;
}

.team .column .header p {
  margin: 8px;
}

#container .team .column .header .separator {
  margin: 30px auto;
  border-top: 1px solid grey; 
}

.team .column .row {
  width: 100%;
  height: 375px;
}

.team .column .row .profile {
  width: 220px;
  height: 310px;
  float: left;
  margin-left: 20px;
}

.team .canvas {
  width: 220px;
  height: 230px;
  background: #FFF;
}

.team .column .row .profile h4{
  color: white;
  margin: 10px 0 0 0;
  text-align: center;
}

.team .column .row .profile h5 {
  text-align: center;
  color: grey;
  margin: 10px;
}

.team .column .row .footer-t {
  color: grey;
  height: 125px;
  margin-top: 45px;
  text-align: center;
}

.work {
  width: 100%;
  display: block;
  height: 740px;
  background: #FFF;
  border: 1px solid #000;
  background-size: cover;
}

#container .work .column {
  height: 155px;
}

.work .header {
  width: auto;
  height: 145px;
  margin-top: 60px;
}

.work .background-wall-1 {
  margin-left: 5px;
  width: 100%;
  height: 200px;
  background: url('../img/works/Untitled-1.png');
  background-repeat: repeat-x;
}

.work .background-wall-2 {
  margin-left: 5px;
  width: 100%;
  height: 200px;
  background: url('../img/works/Untitled-2.png');
  background-repeat: repeat-x;
}


.work .header .column-left-wk {
  width : 200px;
  float: left;
  margin-left: 10px;
}

.work .header .column-right-wk {
    width: 760px;
    float: left;
    width: auto;
    padding-left: 550px;
    margin-top: 20px;
}

.work .header .column-right-wk a{
  color: grey;
  text-decoration: none;
}

.work .footer-w {
  width: 960px;
  height: auto;
  margin: 55px auto;
  text-align: center;
}

.work .footer .button-sm-darl {
  position: absolute;
}

#container .tj-section-7 {
    width: 100%;
    display: block;
    height: 500px;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/section-7/4th-background.png');
    background-size: cover;
}

#container .tj-section-7 .row {
  text-align: center;
  margin: 0 80px;
  color: white;
  width: 780px;
}

#container .tj-section-7 .row h4{
  color: grey;
}

#container .contact {
  width: 100%;
  display: block;
  height: 655px;
  background: #FFF;
  border: 1px solid #000;
  background-size: cover;
}

.contact .column .column-left {
  float: left;
  margin-top: 30px;
  width: 490px;
}

.contact .column .column-left h2{
  margin: 15px 0;
}

.contact .column .column-left input{
  margin: 12px 0;

}

.contact .column .column-left #message {
  text-align: top-left;
  height: 140px;
  margin-bottom: 30px;
}

.contact .column .column-right {
  margin: 30px 0 15px 60px;
  width: 410px;
  float: left;
}

.contact .column .column-right img {
  width: 170px;
  margin: 15px 16px;
}

.footer{
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/footer/5th-background1600x400.png');
    background-size: cover;
    overflow: hidden;
}

.footer .box{
    float: left;
    color: white;
    width: 300px;
    height: 300px;
    margin-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer .box a{
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

#mid img {
    float: left;
    margin-right: 5px;
}
#mid p{
    width: 280px;
    margin-left: 20px;
}

#newsletter{
    float: left;
    text-align: center;
    font-size: 12px;
    width: 210px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid grey ;
    margin-top: 3px;
}
#send{
    margin-left: 15px;
}
.img-box{
    width: 320px;
    height: 60px;
    margin-top: 30px;
}
.img-box img{
    margin: 0 0;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
