/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#container {
    width: 100%;
    min-height: 768px;
}
#container .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.box{
    width: 415px;
    height: auto;
    margin: 0 auto;
    border: 2px solid Darkgrey;

}
#container .column .todoList { 
    margin-left: 10px
}

#container .column .todoList h2 { 
    text-align: center;
}



.column .todoList #inputTitle {
    width: 260px;
    height: 30px;
    resize: none;
    color: black;
    float: left;
    padding: 3px 4px 0px 4px;
    margin-bottom: 10px;
}

.column .todoList button {
    float: left;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-top: 2px;
    border-radius: 6px;
    border: 2px solid Darkgrey;
    background-color: Lightgray;
    font-weight: bold;

}

#description {
    width: 380px;
    height: 60px;
    resize: none;
    color: grey;
    font-size: 16px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
 
}

.separator {
    width: 160px;
    min-height: 1px;
    display: block;
    margin: 30px auto;
    border-top: 1px solid grey; 
}

.list {
    overflow: auto;
    display: block;
    width: 380px;
    border: 2px solid Darkgrey;
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.left-list {
    float: left;
    width: 330px;
}
.list h3 {
    margin: 5px 2px 5px 5px;
}

.list h4 {
    display: block;
    width: 300px;
    word-wrap: break-word;
    margin: 15px 2px 5px 5px;
}

.list p {
    font-size: 10pt;
    margin: 0px 2px 0 5px;

}

.list .vseparator {
    float: left;
    width: 2px;
    height: 0;
    display: block;
    margin: 17px 5px 0px 10px;
    border-top: 80px solid grey; 
}

.remove {
    float: left;
    width: 25px;
    height: 30px;
    margin: 40px 5px 0 0px;
    border: 2px solid black;
    background-color: Lightgrey;
    border-radius: 6px;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
