.clock{
  margin: 5px 25px;
  padding: 0;
  height: 300px;
  width: 380px;
  float: left;
  font-family: 'Quicksand', 'Helvetica', Arial, sans-serif;
}

.clock .day {
  margin: 0;
  padding: 0;
}

.clock .day ul{
  margin-top: 15px;
  list-style-type: none;
  margin-left: -5px;
}

.clock .day li{
  margin: 0;
  float: left;
}

.clock .day .today{
  color: white;
}
.clock .day .notToday{
  color : grey;
}

.clock .day span{
  display: block;
  padding-right: 16px;
  font-size: 16px;
}

.clock .time {
  margin-left: 23px;
}

.clock .time h1{
  font-weight: lighter;
  float: left;
  font-size: 51px;
  color: white;
  margin-bottom: 0;
  margin-top:20px;
}

.clock .time .timezone{
  font-size: 21px;
}

.clock .fullDate {
  padding-top:0;
  margin-top:0; 
  float: left;
  margin-left: 75px;
  text-align: center;
}

.clock .fullDate img{
  width: 24px;
  height: 24px;
}
.clock .fullDate h2{
  color: white;
}