<div class='clock'>
  <div class="day">
    <ul >
      <li *ngFor="let day of days">
        <span ngClass=" {{day == (clock | async | date:'EEE') ? 'today' : 'notToday'}} "> {{day}} </span>
      </li>
    </ul>
  </div>
  <div class='time'>
    <h1> <span>{{clock | async | date:'hh'}}&nbsp;:</span> 
         <span>{{clock | async | date:'mm'}}&nbsp;:</span>
         <span>{{clock | async | date:'ss'}}&nbsp;</span>
         <span class="timezone">{{clock | async | date:'a'}}</span> 
    </h1>
  </div>
  <div class='fullDate'>
    <h2><span><img src="app/clock/small-calendar.png"/></span>
      {{clock | async | date:'yMMMMd'}} 
     </h2>
  </div>
</div>
     