<div class="news">
  <div class="title"*ngIf="showNews">
    <h1>{{showNews.title }}</h1>
  </div>
  <div class="bottom">
    <div class="date" *ngIf="showNews && showNews.publishedAt">
      <span> {{showNews.publishedAt | date: 'shortTime'}}&nbsp;|&nbsp;</span>
      <span> {{showNews.publishedAt | date: 'mediumDate'}}  </span>
    </div>
  </div>
 <div class="loading" *ngIf!="showNews">
    <h2>News Loading ...</h2>
 </div> 
</div> 
