.news{
  width: 960px;
  height: 150x;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  font-family: 'Quicksand', 'Helvetica', Arial, sans-serif;
  margin: 10px auto;
}

.news .title{
  width: 95%;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-weight: lighter;
  float: left;
  font-size: 20spx;
  color: white;
}

.news .title h1{
  text-align: center;
}

.news .bottom{
  margin-top: 37px;
  float: left;
}

.news .author {
  width: 135px;
  height: 50px;
  margin: 0;
  text-align: center;
  font-weight: lighter;
  float: left;
  font-size: 12spx;
  color: white;
  margin: 4px 30px;
}

.author h3{
  height: 80%;
  width: 90%;
}

.news .date{
  width: 195px;
  margin-top: 17px;
  margin-left: 360px;
  text-align: center;
  font-weight: lighter;
  float: left;
  font-size: 10spx;
  color: white;
}

.news .date span{
  float: left;
}

.loading{
  font-size: 30px;
  color: white;
  margin-bottom: 0;
  margin-top:5px;
  text-align: center;
}

.loading h2{
  margin: 0 auto;
}

